# Cache and logs
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/config/parameters.yml

# Managed by composer
/vendor/

# Assets
/web/images/*
/web/js/*
/web/css/*
/web/fonts/*
!web/images/.gitkeep
!web/js/.gitkeep
!web/css/.gitkeep
!web/fonts/.gitkeep

# TODO List
/TODO

# OS X files
.DS_Store

# Backup entities generated with doctrine:generate:entities command
/src/models/*~
