{% extends 'admin/base-admin.html' %}

{% block titre %}
    {% include 'admin/titre-admin.html' with {'titre': 'Utilisateurs'} %}
{% endblock %}

{% block body %}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Index</th>
      <th class="mdl-data-table__cell--non-numeric">Adresse email</th>
      <th class="mdl-data-table__cell--non-numeric">Login</th>
      <th class="mdl-data-table__cell--non-numeric">Prénom</th>
      <th class="mdl-data-table__cell--non-numeric">Nom</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.login }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.nom }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ user.prenom }}</td>
        </tr>
    {% endfor %}    
  </tbody>
</table>
{% endblock %}