locale:
    locale: fr
    locales: [fr, en]
mailer:
    host: host
    port: 25
    username: username
    password: password
    encryption: ssl
    auth_mode: null
database:
    driver: pdo_mysql
    host: localhost
    dbname: database_name
    user: mysql_username
    password: mysql_password
    charset: utf8mb4